*{
          margin: 0;
          padding: 0;
          box-sizing: border-box;
}

.container{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 30%;
          height: 95vh;
          margin: auto;
          position: relative;
}

.image{
          width:250px;
          position: fixed;
          display: block;
}

img{
         width: 100%;
}

p{
          position: fixed;
          font-size: 50px;
          font-family: sans-serif;
          box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
          padding: 10px 20px;
          backdrop-filter: blur(20px);
          opacity: 0;
          visibility: hidden;
          z-index: 1;
}

.container:hover p{
          opacity: 1;
          visibility: visible;   
}